<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="overview.css">
    <link rel="stylesheet" href="questions.css">
    <link rel="stylesheet" href="statistics.css">
    <script src="questions.js"></script>
    <script src="landing.js"></script>
    
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="/">
                <img src="images/logo.png" alt="">
                <span>Olea</span>
            </a>
            <div class="navigation-bar">
                <div class="menu">
                    <img  src="images/menuIcon.png" alt="">
                    <ul class="mobile-links">
                        <li><a href="/">accueil</a></li>
                        <li><a href="/stades">culture</a></li>
                        <li><a href="/recolte">recolte</a></li>
                        <li><a href="#footer">contactez-nous</a></li>
                    </ul>
                </div>
                <ul class="links">
                    <li><a href="/">accueil</a></li>
                    <li><a href="/stades">culture</a></li>
                    <li><a href="/recolte">recolte</a></li>
                    <li><a href="#footer">Contactez-nous</a></li>
                </ul>

                <span href="" class="profile">
                    <img src="images/profile.png" alt="profile" class="profile-image">
                    <div class="profile-links">
                        <a href="/logout" class="logout">Déconnecter</a>
                    <% if (user && user.role === 'admin') { %>
                        <a href="/manage-agenda" class="manage">Gerer Agenda</a>
                    <% } %>
                    </div>
                </span>
                
            </div>
        </div>
    </nav>
    <main>
        <section class=".landing" id="landing">
            <div class="slider-container">
                <div class="slider">
                  <div class="slide ">
                    <img src="images/img1.jpg" alt="Placeholder 1">
                  </div>
                  <div class="slide active">
                    <img src="images/img2.jpg" alt="Placeholder 2">
                  </div>
                  <div class="slide">
                    <img src="images/img3.jpg" alt="Placeholder 3">
                  </div>
                </div>
                <div class="landing-text">
                  <h1 class="landing-title">BIENVENUE à OLEA</h1>
                  <p class="landing-paragraph">TOUT CE QUE VOUS VOULEZ SAVOIR SUR LES OLIVES</p>
                </div>
                <div class="buttons">
                    <a class="btn" href="/login">SE CONNECTER</a>
                    <a class="btn" href="/signup">S'INSCRIRE </a>
                </div>
                <a href="#overview" class="down">
                    <div class="down-arr"></div>
                </a>
              </div>
        </section>
        <section id="overview" class="a">
          <h2 class="section-title">Aperçu</h2>
          <div class="container">
            <div class="overview-image" data-txt="Les stades de croissance de l'olivier">
              <img src="images/overview1.jpg" alt="">
            </div>
            <div class="overview-image" data-txt="La culture de l'olivier">
              <img src="images/overview2.jpg" alt="">
            </div>
            <div class="overview-image" data-txt="Les besoins de l'olivier">
              <img src="images/overview4.png" alt="">
            </div>
          </div>
        </section>
        <section class="carousel-section">
          <h2 class="section-title">Questions</h2>
          <div class="carousel-container">
              <div class="carousel-slide active" style="background-image: url('images/question1.jpg'); background-size: cover;">
                  <div class="question-box">Pourquoi l'agriculture est-elle importante pour les communautés?</div>
                  <div class="answer-box"> pour assurer la sécurité alimentaire et fournir des emplois. Elle soutient l'économie rurale, aide à lutter contre la désertification et maintient l'équilibre écologique.</div>
              </div>
              <div class="carousel-slide" style="background-image: url('images/question2.jpg'); background-size: cover;">
                  <div class="question-box">Quelles sont les principales étapes de la croissance de l'olivier ?</div>
                  <div class="answer-box">
                    L'olivier forme des bourgeons floraux à la fin de l'hiver. Les fleurs s'ouvrent au printemps, et la pollinisation se fait par le vent ou les insectes. Les fruits commencent à se développer à la fin du printemps, grossissent tout au long de l'été, et mûrissent à l'automne, prêts pour la récolte.</div>
              </div>
              <div class="carousel-slide" style="background-image: url('images/question3.jpg'); background-size: cover;">
                  <div class="question-box">Comment la compréhension des étapes de la croissance de l'olivier aide-t-elle les agriculteurs ?
        
                  </div>
                  <div class="answer-box">
                    Comprendre les étapes de croissance de l'olivier permet aux agriculteurs d'améliorer la qualité de la production, d'optimiser la gestion de la ferme, et de prendre de meilleures décisions pour l'irrigation, la fertilisation et la récolte. Cette connaissance peut également être utilisée pour créer des outils éducatifs pour les visiteurs.</div>
              </div>
              <div class="navigation">
                  <div class="arrow left"></div>
                  <div class="arrow right"></div>
              </div>
              <div class="dots">
                  <span class="dot active" data-slide="0"></span>
                  <span class="dot" data-slide="1"></span>
                  <span class="dot" data-slide="2"></span>
              </div>
          </div>
        </section>
        
        <section id="statistics" class="a">
          <h2 class="section-title">statistiques</h2>
          <div class="container">
            <div class="stat">
              <span class="num">3.1 million</span>
              <p>le nombre de tonnes d'huile d'olive produites dans le monde chaque année.</p>
            </div>
            <div class="stat">
              <span class="num">40-45%</span>
              <p> le pourcentage de la production mondiale d'huile d'olive représenté par l'espagne.</p>
            </div>
            <div class="stat">
              <span class="num">5-7 years</span>
              <p>l'âge auquel les oliviers commencent généralement à produire des olives.</p>
            </div>
            <div class="stat">
              <span class="num">80-90%</span>
              <p>la réduction potentielle des rendements des olives due à la mouche de l'olive si elle n'est pas correctement gérée.</p>
            </div>
            
          </div>
        </section>
        
        
          
    </main>
    <footer class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Us</h3>
                <p>Nous nous engageons à fournir des informations complètes sur les olives et les meilleures pratiques pour leur entretien tout au long de l'année.</p>
            </div>
            
            <div class="footer-section contact">
                <h3>Contactez-nous</h3>
                <p>Email: olea@olives.com</p>
                <p>téléphone: +123-###-####</p>
                <p>Adresse: 123 rue des olives,olive city.ol</p>
            </div>
            <div class="footer-section follow-us">
                <h3>suivez-nous</h3>
                <div class="social-icons">
                    <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                    <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                    <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
                    <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2023 Olea.org. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>