<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="/">
                <img src="images/logo.png" alt="">
                <span>Olea</span>
            </a>
            <div class="navigation-bar">
                <div class="menu">
                    <img  src="images/menuIcon.png" alt="">
                    <ul class="mobile-links">
                        <li><a href="/">accueil</a></li>
                        <li><a href="/stades">culture</a></li>
                        <li><a href="/recolte">recolte</a></li>
                        <li><a href="#footer">contactez-nous</a></li>
                    </ul>
                </div>
                <ul class="links">
                    <li><a href="/">accueil</a></li>
                    <li><a href="/stades">culture</a></li>
                    <li><a href="/recolte">recolte</a></li>
                    <li><a href="#footer">Contactez-nous</a></li>
                </ul>

                <span href="" class="profile">
                    <img src="images/profile.png" alt="profile" class="profile-image">
                    <div class="profile-links">
                        <a href="/logout" class="logout">Déconnecter</a>
                    <% if (user && user.role === 'admin') { %>
                        <a href="/manage-agenda" class="manage">Gerer Agenda</a>
                    <% } %>
                    </div>
                </span>
                
            </div>
        </div>
    </nav>
    <main>
        <div class="recolte" >    
            <img src="images/recolte.jpg" alt="recolte" > 
        </div>
            <div class="recolte-etapes">
                <div class="recolte-flex">
                    <img src="images/recolte1.jpg" alt="">
                    <div class="text">
                        <h2>Le moment de la récolte</h2>
                        <p>Le moment idéal pour la récolte est déterminé en fonction de la maturation des fruits et de leur teneur en huile, garantissant ainsi la meilleure qualité d'olives et d'huile.</p>
                    </div>
                </div>
                <div class="recolte-flex">
                    <div class="text">
                        <h2>Récolte des fruits</h2>
                        <p>Les fruits sont récoltés délicatement à l'automne, à la main ou à l'aide d'outils spécifiques, pour garantir une cueillette sans dommage.</p>
                    </div>
                    <img src="images/recolte2.jpg" >
                </div>
                <div class="recolte-flex">
                    <img src="images/recolte3.png" >
                    <div class="text">
                        <h2>Transport des fruits</h2>
                        <p>Après la récolte, les fruits sont rapidement et soigneusement transportés vers les sites de traitement ou de stockage, en utilisant des caisses et des conteneurs appropriés pour préserver leur qualité.</p>
                    </div>
                </div>
                <h3 >TRANSFORMATION DES FRUITS </h3>
                <p class="transformation-p">Après le transport des fruits d'olivier, les fruits peuvent être utilisés de deux manières différentes :</p>
                <div class="recolte-flex">
                    <div class="text">
                        <h4>• Conservation des fruits</h4>
                        <p id="p5"> La conservation des fruits est une pratique essentielle pour préserver leur fraîcheur et leur qualité. Elle comprend plusieurs méthodes, telles que le stockage à des températures spécifiques, qui ralentissent le processus de maturation et de détérioration.</p>
                    </div>
                    <img src="images/recolte4.jpg" >
                </div>
                <div class="recolte-flex">
                    <img id="img5" src="images/recolte5.jpg" >
                    <div class="text">
                        <h5> • PRESSAGE DES OLIVES</h5>
                        <p id="p5">Le processus de pressage des olives est une étape cruciale dans la production de l'huile d'olive. Après un nettoyage et un lavage méticuleux, les olives sont soit broyées soit moulues pour former une pâte. Cette pâte est ensuite pressée et filtrée pour extraire un huile pure, exempte d'impuretés, prête à être utilisée.</p>
                    </div>
                </div>
            </div>        
    </main>
    <footer class="footer" id="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Us</h3>
                <p>Nous nous engageons à fournir des informations complètes sur les olives et les meilleures pratiques pour leur entretien tout au long de l'année.</p>
            </div>
            
            <div class="footer-section contact">
                <h3>Contactez-nous</h3>
                <p>Email: olea@olives.com</p>
                <p>téléphone: +123-###-####</p>
                <p>Adresse: 123 rue des olives,olive city.ol</p>
            </div>
            <div class="footer-section follow-us">
                <h3>suivez-nous</h3>
                <div class="social-icons">
                    <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                    <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                    <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
                    <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2023 Olea.org. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>